@use "../abstracts";

.form-card {

    &__label {
        margin-bottom: 20px;
        font-size: 1.8rem;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 30px;

        &-link {
            color: var(--text-color);
        }

        @include abstracts.screen (md) {
            margin-bottom: 20px;
        }
    }
}

.card-profile__back-arrow {
    width: 50px;
    padding-right: 20px;
    position: relative;
    top: 4px;
}