@use "../abstracts";

.cart-item__content-edit {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-favourite__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: stretch;

    @include abstracts.screen (lg) {
        flex-direction: column;
    }
}

.cart-item__favourite {
    @include abstracts.screen (md) {
        display: flex;
        flex-direction: column;
    }
}


.favourite-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include abstracts.screen (lg) {
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 20px;
        gap: 30px;
    }

    @include abstracts.screen (sm) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.favourite__checkbox {
    display: flex;
    align-items: center;

    border: 1px solid #67b044;
    border-radius: 10px;
    padding: 5px 10px;

    @include abstracts.screen (lg) {
        align-self: flex-start;
    }
}

.favourite__desc,
.favourite__input {
    margin-top: 4px;
}

.cart-info__favourite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 10px;
}

.btn-checkout-favourite {
    @include abstracts.screen (md) {
        width: 100%;
    }
}