@use "../abstracts";

%alignItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.screen(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow);
    }
}

.top-more {
    width: 12px;
    height: 16px;
    display: none;
    margin-top: -10px;

    @include abstracts.screen(lg) {
        display: block;
        margin-right: 40px;
    }

    @include abstracts.screen(md) {
        margin-right: 0;
    }
}

.top-bar {
    @extend %alignItemCenter;
    position: relative;
    z-index: 5;

    padding: 30px 0;

    @include abstracts.screen(lg) {
        padding: 20px 0;
    }

    @include abstracts.screen(md) {
        justify-content: space-between;
        padding: 16px 0;
    }

    &__logo {
        @include abstracts.screen(lg) {
            -webkit-tap-highlight-color: transparent;
            gap: 10px;

            &-img {
                width: 24px;
                height: 24px;
            }

            &-title {
                font-size: 1.8rem;
            }
        }
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.screen(xl) {
        margin-left: auto;
        margin-right: auto;
    }

    @include abstracts.screen(md) {
        margin-left: auto;
        margin-right: auto;
    }

    @include abstracts.screen(lg) {
        position: fixed;

        inset: 0 50% 0 0;
        z-index: 10;

        margin-left: 0;
        padding: 20px 0;
        border-radius: 0rem 2rem 2rem 0rem;
        background: var(--nabar-bg-color);

        translate: -100%;
        transition: translate 0.5s;

        &.show {
            translate: 0;
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstracts.screen(sm) {
        inset: 0 20% 0 0;
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
        transition: opacity, visibility;
        transition-duration: 0.5s;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;
            background: rgba($color: #000000, $alpha: 0.4)
        }
    }

    &__close-btn {
        display: none;

        @include abstracts.screen(lg) {
            display: block;
            padding: 10px 40px;
        }

        @include abstracts.screen(sm) {
            padding: 0 20px 10px;
        }
    }

    &-btn {
        height: 50px;
        padding: 0 40px;
        align-items: center;

        @include abstracts.screen(sm) {
            height: 44px;
            padding: 0 20px;
        }

        &__qnt,
        &__title {
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 146.667%;
            color: var(--text-color);
        }

        &__title {
            padding-left: 16px;
        }

        &__qnt {
            margin-left: auto;
        }
    }

    &__list {
        @extend %alignItemCenter;
        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            height: calc(100% - 40px);

            overflow-y: auto;
            overscroll-behavior: contain;
        }

        @include abstracts.screen(md) {
            height: calc(100% - 140px);
        }

        @include abstracts.screen(sm) {
            height: calc(100% - 124px);
        }
    }

    &__item {

        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            width: 100%;
            height: auto;
            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }
        }
    }

    &__link {
        @extend %alignItemCenter;
        gap: 6px;

        height: 50px;
        padding: 0 15px;

        color: var(--text-color);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 146.667%;
        opacity: 1;

        &:hover {
            opacity: 0.8;
        }

        @include abstracts.screen(lg) {
            padding: 0 40px;
            justify-content: space-between;

            font-size: 1.6rem;
            line-height: 150%;
        }

        @include abstracts.screen(sm) {
            padding: 0 20px;
            height: 44px;
        }
    }

    &__arrowd {
        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: rotate 0.3s;
        }
    }

    &__item--active &__arrowd {
        rotate: 0deg;
    }
}

.topact {
    @extend %alignItemCenter;
    margin-left: auto;
    gap: 20px;

    @include abstracts.screen(md) {
        margin-left: 0;
        gap: 0;
    }

    &__group {
        @extend %alignItemCenter;
        gap: 20px;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--topact-bg-group);
        box-shadow: 0px 20px 60px 10px var(--topact-group-shadow);
        padding: 10px 20px;
        cursor: pointer;

        @include abstracts.screen(md) {
            display: none;
        }

        &:hover {
            outline: solid 2px var(--topact-bg-group);

            @include abstracts.screen(lg) {
                -webkit-tap-highlight-color: transparent;
                outline: none;
            }
        }

        &--simple {
            padding: 13px;

            @include abstracts.screen(lg) {
                display: none;
            }
        }
    }

    &__btn-wrap {
        position: relative;

        &:hover .act-dropdown {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }

    &__btn {
        @extend %alignItemCenter;
        color: var(--text-color);
        gap: 10px;
        background: var(--topact-bg-group);
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__divider {
        width: 1px;
        height: 30px;
        background: var(--topact-divider);
        z-index: 5;
    }

    &__avatar {
        display: block;

        width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--topact-bg-avatar);
        box-shadow: 0px 4px 14px 2px var(--topact-user-shadow);
        cursor: pointer;

        &:hover {
            outline: 2px solid #fff;
            @include abstracts.screen(lg) {
                -webkit-tap-highlight-color: transparent;
                outline: none;
            }
        }
    }

    &__sign-up {
        @include abstracts.screen(md) {
            height: 40px;
            padding: 0 8px;
            font-size: 1.5rem;
            margin-left: -20px !important;
        }
    }
}

.act-dropdown {
    position: absolute;
    padding-top: 60px;
    top: 0;
    right: -90px;
    width: min(560px, 100vw);
    background: transparent;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    pointer-events: none;

    &__inner {
        position: relative;

        width: 100%;
        padding: 30px 30px;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);

        &::before {
            content: url(../icons/dropdownarrow.svg);
            position: absolute;
            top: -13px;
            right: 106px;
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    &__bottom {
        margin-top: 8px;
        padding: 8px 20px;
        border: 1.5px solid #d2d1d6;
        border-radius: 8px;
    }

    &__divider {
        height: 1px;
        background-color: #d2d1d6;
        margin: 20px 0;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        + .act-dropdown__row {
            margin-top: 10px;
        }

        &--bold {
            font-weight: 600;
        }
    }

    &__list {
        padding-bottom: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        color: var(--text-color);
    }

    &__view-all {
        color: #0071dc;
        font-size: 1.8rem;
        line-height: 145.455%;
    }

    &__value,
    &__label {
        font-size: 1.8rem;
        line-height: 145.455%;
    }

    &__checkout {
        display: flex;
        justify-content: flex-end;
    }

    &__checkout-btn {
        margin-top: 10px;
        min-width: 265px;
        font-size: 1.8rem;
        color: #1A162E;
    }
}

.cart-preview-item {
    &__img-wrap {
        position: relative;
        padding-top: 100%;
        border: 1px solid #ebebeb;
        border-radius: 8px;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 142.857%;
        color: var(--text-color);
        text-align: left;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price {
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--text-color);
        text-align: center;
    }
}