.dropdown {
    position: absolute;
    left: 0;

    padding-top: 54px;
    width: min(1240px, 100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    cursor: pointer;


    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);

        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);

        &::before {
            content: url("../icons/dropdownarrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;

            filter: var(--dropdown-arrow-color)
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--menu-column-scroll-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    height: 10%;
    box-shadow: inset 0 0 6px var(--menu-column-scroll-opa);
    border-radius: 5px;
}

.top-menu {
    --main-col-width: 292px;
    position: relative;

    &__main {
        width: var(--main-col-width);
        height: calc(min(582px, (100vh - 158px)) - (var(--inner-padding) * 2));
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    &__icons {
        position: relative;
        flex-shrink: 0;

        width: 36px;
        height: 36px;
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        object-fit: contain;
        width: 30px;
        height: 30px;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;

        object-fit: contain;
        width: 24px;
        height: 24px;

        filter: var(--menu-column-icon-color);
    }

    &__list {
        margin-top: 19px;
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        color: var(--menu-column-text-color);
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 142.857%;
        color: var(--menu-column-text-color);
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 var(--main-col-width);
    padding-left: var(--inner-padding);
    overflow-y: auto;
    pointer-events: fill;
    display: none;
    grid-template-columns: repeat(3, 1fr);

}