@use "../abstracts";

.fillter-wrap {
    position: relative;
    z-index: 2;
}

.fillter {
    position: absolute;
    right: 0;
    top: 55px;
    padding: 30px 0;

    border-radius: 20px;

    background: var(--fillter-form-bg-color);
    filter: drop-shadow(0px 40px 90px var(--fillter-form-shadow));

    &.hide {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    @include abstracts.screen (sm) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        border-radius: 0;
    }

    &__arrow {
        position: absolute;
        top: -16px;
        right: 25px;
        height: 20px;
        width: 52px;
        filter: var(--fillter-form-bg-fil);
    }

    &__heading {
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 145.455%;
        color: var(--text-color);
    }

    &__divider {
        width: 1px;
        height: 162px;
        background: #EEE;
        margin: 0 30px;

        @include abstracts.screen (xl) {
            width: 100%;
            height: 1px;
        }
    }

    &__form {
        margin-top: 30px;

        &-label {
            display: block;
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 145.455%;
            color: var(--text-color);


            &--small {
                margin-bottom: 10px;

                @include abstracts.screen (sm) {
                    width: 100%;
                }
            }
        }

        &-input,
        &-select,
        &-tag,
        &-label--small {
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 142.857%;
            color: var(--text-color);
        }

        &-input {
            border-radius: 0.6rem;
            border: 1px solid var(--fillter-form-border);
            padding: 8px 12px;
            width: 122px;
            background: var(--fillter-form-bg-color);

            @include abstracts.screen (xl) {
                width: 100%;
            }

            @include abstracts.screen (sm) {
                font-size: 1.6rem !important;
            }

            &--big {
                font-size: 1.5rem;
                line-height: 146.667%;
                border-radius: 0;
                border: none;
                width: 100%;

                &::placeholder {
                    color: var(--fillter-color);
                    font-weight: 400;
                }

                @include abstracts.screen (sm) {
                    font-size: 1.6rem !important;
                }
            }

            &-icon {
                cursor: pointer;
            }
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            background: var(--fillter-form-border);

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;

                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 6px solid #FFB700;
                background: var(--fillter-form-bg-color);
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-group {
            margin-top: 20px;

            &--inline {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                margin-top: 30px;
                gap: 30px;
            }
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            height: 45px;

            border-radius: 0.6rem;
            border: 1px solid var(--fillter-form-border);
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 14px;
            min-width: var(--width, 108px);
            color: var(--text-color);
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.2s;

            @include abstracts.screen (xl) {
                flex: 1;
            }

            @include abstracts.screen (sm) {
                min-width: var(--width, 100px);
            }

            &:first-child {
                border-right: 1px solid var(--fillter-form-border);
            }

            &:hover {
                opacity: 0.8;
            }

            &-icon {
                width: 24px;
                height: 24px;
            }
        }

        &-tags {
            display: flex;
            align-items: center;
            gap: 20px;

            @include abstracts.screen (sm) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &-tag {
            padding: 6px 12px;
            color: var(--fillter-color);
            border-radius: 0.6rem;
            background: var(--fillter-bg-button);
            transition: color 0.2s;

            &:hover {
                color: var(--text-color);
            }
        }

        &-text-input {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 0.6rem;
            border: 1px solid var(--fillter-form-border);
            overflow: hidden;

            width: 334px;
            height: 44px;
            padding: 10px 16px;

            @include abstracts.screen (sm) {
                width: 100%;
            }
        }
    }

    &__col {
        width: 100%;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;

        @include abstracts.screen (sm) {
            position: sticky;
            bottom: 30px;
            background: var(--fillter-form-bg-color);
        }
    }

    &__cancel,
    &__result {
        height: 38px;
        padding: 10px;

        @include abstracts.screen (sm) {
            flex: 1;
        }
    }

    &__cancel {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }

    &__result {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
    }

    &__heading,
    &__content,
    &__footer {
        padding: 0 30px;
    }

    &__content {
        @include abstracts.screen (xl) {
            height: calc(100vh - 250px);
            overflow-y: auto;
            overscroll-behavior: contain;

            flex-direction: column;
            gap: 30px;
        }

        @include abstracts.screen (sm) {
            height: calc(100vh - 230px);
            margin-bottom: 140px;
        }
    }
}