@use "../abstracts";

$error-color: #ed4337;
.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        + .form__group {
            margin-top: 30px;
        }

        &--inline {
            display: flex;
            align-items: center;

        }

        @include abstracts.screen(md) {
            + .form__group {
                margin-top: 20px;
            }
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon--error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__text-input {
        display: flex;
        align-items: center;

        height: 50px;
        padding: 0 12px;

        border-radius: 1rem;
        border: 1px solid var(--auth-border-color);

        &:focus-within {
            border-color: #77dae6;
        }

        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__input {
        flex: 1;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 144.444%;
        background: transparent;
        color: var(--auth-input-color);

        &::placeholder {
            color: var(--auth-border-color);
        }

        &-icon,
        &-icon--error {
            margin-left: 12px;
            width: 20px;
            height: 18px;
        }

        &-icon {
            filter: var(--auth-fillter-icon);
        }

        &-icon--error {
            display: none;
            animation: shake 0.3s;
        }
    }

    &__error {
        display: none;
        margin-top: 10px;
        text-align: left;

        font-size: 1.4rem;
        font-weight: 500;
        color: $error-color;
        user-select: none;
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;

        display: flex;
        align-items: center;

        &-label {
            margin-left: 29px;

            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 146.667%;
            color: var(--auth-text-color);

            user-select: none;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            user-select: none;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1.5px solid var(--auth-border-color-checkbox);
        }

        &::after {
            display: none;
            width: 14px;
            height: 6px;
            border: 2px solid;
            border-color: transparent transparent #ffff #ffff;
            rotate: -45deg;
            left: 2px;
            top: 6px;
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            border-color: #ffb700;
            background: #ffb700;
        }

        &::after {
            display: block;
        }
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 145.455%;
        color: var(--text-color);

        @include abstracts.screen (lg) {
            font-size: 2rem;
        }

        &__select,
        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 142.857%;
            color: var(--text-color);

            @include abstracts.screen (sm) {
                width: 100%;
            }
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        height: 45px;

        border-radius: 0.6rem;
        border: 1px solid var(--form-border);
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        color: var(--text-color);
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.2s;

        &-style-1 {
            width: 160px;
        }
        &-style-2 {
            width: 116px;
        }

        &-style-11 {
            width: 152px;
        }
        &-style-22 {
            width: 108px;
        }

        @include abstracts.screen (xl) {
            flex: 1;
        }

        @include abstracts.screen (sm) {
            min-width: var(--width, 100px);
        }

        &:first-child {
            border-right: 1px solid var(--form-border);
        }

        &:hover {
            opacity: 0.8;
        }

        &-icon {
            width: 24px;
            height: 24px;
        }
    }

    &__tags {
        display: flex;
        align-items: center;
        gap: 20px;

        @include abstracts.screen (sm) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__tag {
        padding: 6px 12px;
        color: var(--fillter-color);
        border-radius: 0.6rem;
        background: var(--form-bg-button);
        transition: color 0.2s;

        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 142.857%;
        color: var(--form-color);

        &:hover {
            color: var(--text-color);
        }
    }
}