@use "../abstracts";

html.dark {
    --text-color: #FFFFFF;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(49deg) brightness(98%) contrast(104%);

    --header-bg-color: #171C28;
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #9e9da6;

    --header-shadow: rgba(0, 0, 0, 0.20);
    --topact-bg-group: #292E39;
    --topact-bg-avatar: #DFD2FA;
    --body-bg-color: #292E39;

    --topact-group-shadow: rgba(0, 0, 0, 0.20);
    --topact-user-shadow: rgba(0, 0, 0, 0.08);
    --topact-divider: #EDEDF6;

    --dropdown-bg-color: #2f3441;
    --dropdown-shadow: rgba(23, 28, 40, 0.40);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(21%) sepia(5%) saturate(2067%) hue-rotate(186deg) brightness(91%) contrast(95%);

    --top-menu-border-color: #171C28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(90%) sepia(3%) saturate(899%) hue-rotate(205deg) brightness(111%) contrast(95%);
    --menu-column-text-color: #B9BABE;
    --menu-column-scroll-color: #B9BABE;
    --menu-column-scroll-opa: rgba(0, 0, 0, 0.4);

    --slider-text-color: #fff;

    --cate-item-bg: #171C28;
    --cate-item-thumb-bg: #292E39;
    --cate-item-text-color: #fff;

    --prod-fil-btn-color: #fff;
    --prod--fil-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(114deg) brightness(109%) contrast(97%);
    --prod-fil-bg-btn: #171C28;

    --prod-cart-bg: #171C28;
    --prod-cart-shadow: rgba(0, 0, 0, 0.30);
    --prod-like-btn-shadow: rgba(124, 124, 124, 0.30);
    --prod-text-brand-color: #9E9DA8;
    --prod-text-color: #fff;

    --fillter-form-bg-color: #292E39;
    --fillter-form-bg-fil: brightness(0) saturate(100%) invert(12%) sepia(3%) saturate(5850%) hue-rotate(184deg) brightness(100%) contrast(85%);
    --fillter-form-shadow: rgba(0, 0, 0, 0.40);
    --fillter-form-border: #D2D1D6;
    --fillter-color: #9E9DA8;
    --fillter-bg-button: #171C28;

    --form-border: #D2D1D6;
    --form-bg-button: #171C28;
    --form-color: #9E9DA8;

    --auth-bg-color: #292E39;
    --auth-text-color: #B9BABE;
    --auth-border-color: var(--auth-text-color);
    --auth-link-color: #0071DC;
    --auth-text-intro-color: var(--auth-text-color);
    --auth-fillter-icon: brightness(0) saturate(100%) invert(82%) sepia(6%) saturate(134%) hue-rotate(191deg) brightness(91%) contrast(90%);
    --auth-input-color: #fff;
    --auth-border-color-checkbox: var(--auth-text-color);
    --auth-intro-bg-color: var(--prod-cart-bg);
    --auth-success-bg: rgb(0 180 253 / 20%);

    --product-page-bg-color: #292E39;
    --breadcrumbs-bg-color: #171C28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.20);
    --breadcrumbs-text-color: #9E9DA8;

    --prod-info-btn-bg-color: #f6f6f6;
    --prod-info-bg-color: #171C28;
    --prod-info-btn-bg: #292E39;

    --prod-content-text-color: var(--breadcrumbs-text-color);
    --prod-review-card-bg: #171C28;

    --text-color-ui: #ededf6;

    --checkout-page-bg-color: #171C28;
    --checkout-cart-info-shadow: rgba(23, 28, 40, 0.2);
    --checkout-border-color: #d2d1d6;

    @include abstracts.screen(md) {
        --header-bg-color: #171C28;

        --product-page-bg-color: #292E39;
        --breadcrumbs-bg-color: #171C28;
        --prod-info-bg-color: var(--breadcrumbs-bg-color);
        --prod-preview-bg-color: var(--breadcrumbs-bg-color);

        --search-bar-bg-color: #171C28;
    }

    @include abstracts.screen(lg) {
        --nabar-bg-color: #292E39;
    }
}