*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    background: var(--body-bg-color);
}

.icon {
    filter: var(--icon-color);
}

a {
    text-decoration: none;
}

button {
    background: transparent;
}

a,
img,
label,
select,
textarea,
button,
input {
    font-family: inherit;
    color: inherit;
    border: none;
    outline: none;
    padding: 0;
}