<div class="container">
    <!-- Row 1 -->
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <div class="footer__logo-box">
                <div class="logo">
                    <img src="./assets/icons/logo.svg" alt="groceriesmart" class="logo__img">
                    <h1 class="logo__title">groceriesmart</h1>
                </div>
            </div>
            <div class="footer__desc">
                <p class="footer__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem
                    voluptatibus.
                </p>
            </div>
            <div class="footer__wrap">
                <p class="footer__text">
                    Receive product news and updates.
                </p>
                <div class="footer__group">
                    <div class="footer__text-input">
                        <input type="text" id="" name="" class="footer__input" placeholder="Email address">
                        <button class="footer__btn btn btn--primary">SEND</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">Shop</h3>

            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">All Departments</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Fashion Deals</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Electronics Discounts</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Home & Living Specials</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Beauty Bargains</a>
                </li>
            </ul>
        </div>
        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Support</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Store locator</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Order status</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Beauty Bargains</a>
                </li>
            </ul>
        </div>
        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Company</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Customer Service</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Terms of Use</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">About</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Careers</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">CA Supply chanins</a>
                </li>
            </ul>
        </div>
        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">Contact</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <p class="footer__label">Email</p>
                    <a href="#!" class="footer__link">contact@grocerymart.com</a>
                </li>
                <li class="footer__item">
                    <p class="footer__label">Hotline</p>
                    <a href="#!" class="footer__link">18008888</a>
                </li>
                <li class="footer__item">
                    <p class="footer__label">Address</p>
                    <p class="footer__text">No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay
                        District, City. Hanoi
                    </p>
                </li>
                <li class="footer__item">
                    <p class="footer__label">Hours</p>
                    <p class="footer__text">M - F 08:00am - 06:00pm</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- Row 2 -->
    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>

        <div class="footer__socials">
            <a href="" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/icons/facbook.svg" alt="" class="footer__social-icon">
            </a>

            <a href="" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon">
            </a>

            <a href="" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon">
            </a>

            <a href="" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon">
            </a>

            <a href="" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon">
            </a>
        </div>
    </div>
</div>