<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="icon top-bar__more">
            <img src="./assets/icons/more.svg" alt="" class="top-bar__more-icon">
        </button>
        <!-- Logo -->
        <a href="./" class="logo">
            <img src="./assets/icons/logo.svg" alt="Groceries Mart" class="logo__img">
            <h1 class="logo__title">groceriesmart</h1>
        </a>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="" class="navbar__link">
                        Departments
                        <img src="./assets/icons/arrowD.svg" alt="" class="icon navbar__arrow">
                    </a>
                </li>

                <li>
                    <a href="" class="navbar__link">
                        Groceries
                        <img src="./assets/icons/arrowD.svg" alt="" class="icon navbar__arrow">
                    </a>
                </li>

                <li>
                    <a href="" class="navbar__link">
                        Beauties
                        <img src="./assets/icons/arrowD.svg" alt="" class="icon navbar__arrow">
                    </a>
                </li>

            </ul>
        </nav>

        <!-- Actions -->
        <div class="topact">
            <div class="topact__group topact__group--simle">
                <button class="topact__btn topact__btn--simle">
                    <img src="./assets/icons/search.svg" alt="" class="icon topact__icon">
                </button>
            </div>

            <div class="topact__group">
                <button class="topact__btn">
                    <img src="./assets/icons/heart.svg" alt="" class="icon topact__icon">
                    <span class="topact__title">03</span>
                </button>

                <div class="topact__divider"></div>

                <button class="topact__btn">
                    <img src="./assets/icons/buy.svg" alt="" class="icon topact__icon">
                    <span class="topact__title">$65.42</span>
                </button>
            </div>

            <div class="topact-user">
                <img src="./assets/imgs/uifaces.jpg" alt="" class="topact__avatar">
            </div>
        </div>

    </div>
</div>