<div class="container">
    <div class="top-bar">
        <!-- More -->
        <div class="top-more">
            <img src="./assets/icons/more.svg" alt="" class="icon top-more__icon">
        </div>
        <!-- Logo -->
        <div class="logo">
            <img src="./assets/icons/logo.svg" alt="groceriesmart" class="logo__img">
            <h1 class="logo__title">groceriesmart</h1>
        </div>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="" class="navbar__link">
                        Departments
                        <img src="./assets/icons/arrowd.svg" alt="" class="icon navbar__arrowd">
                    </a>
                </li>
                <li>
                    <a href="" class="navbar__link">
                        Groceries
                        <img src="./assets/icons/arrowd.svg" alt="" class="icon navbar__arrowd">
                    </a>
                </li>
                <li>
                    <a href="" class="navbar__link">
                        Beauties
                        <img src="./assets/icons/arrowd.svg" alt="" class="icon navbar__arrowd">
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Actions -->
        <div class="topact">
            <div class="topact__group topact__group--simple">
                <button class="topact__btn">
                    <img src="./assets/icons/search.svg" alt="" class="icon topact__icon">
                </button>
            </div>

            <div class="topact__group">
                <button class="topact__btn">
                    <img src="./assets/icons/heart.svg" alt="" class="icon topact__icon">
                    <span class="topact__title">03</span>
                </button>

                <div class="topact__divider"></div>

                <button class="topact__btn">
                    <img src="./assets/icons/buy.svg" alt="" class="icon topact__icon">
                    <span class="topact__title">$65.42</span>
                </button>
            </div>

            <div class="topact__user">
                <img src="./assets/imgs/uifaces.jpg" alt="" class="topact__avatar">
            </div>
        </div>


    </div>
</div>